<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado</title>
</head>
<body>
<header th:fragment="head">
    <nav>
        <ul>
            <li><a th:href="@{/profesionales}">Profesionales</a></li>
            <li><a th:href="@{/citas}">Citas</a></li>
            <li><a th:href="@{/pacientes}">Pacientes</a></li>
            <li><a th:href="@{/foro}">Foro</a></li>
            <li><a th:href="@{/recursos}">Recursos</a></li>
        </ul>
    </nav>
</header>
</body>
</html>